# Binary
streamrelay
gentoken

# Config with secrets
config.yaml
!config.example.yaml

# IDE, LLMs
.idea/
.vscode/
.claude/

# OS, Apps, Misc
.DS_Store
Thumbs.db
*.swp
tags
ctags

# Go
vendor/

.stewardmcp/
